.generalmenuIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.header {
  background-color: var(--app-header);
  width: 430px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.friendList {
  position: relative;
  display: inline-block;
  width: 430px;
  height: 151px;
  flex-shrink: 0;
}
.interactiveButtonsearchIcon {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
}
.button,
.search {
  display: flex;
  align-items: center;
}
.search {
  position: relative;
  width: 300px;
  height: 36px;
  flex-shrink: 0;
}
.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--search-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xs);
}
.searchBar {
  position: relative;
  width: 384px;
  height: 69px;
  flex-shrink: 0;
}
.removeText {
  position: relative;
  line-height: 140%;
}
.removeButtonIcon {
  position: relative;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.removeButtonRow,
.removeItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.removeItem {
  width: 134px;
  flex-shrink: 0;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.removeButtonRow {
  width: 311px;
  justify-content: center;
  gap: var(--gap-base);
}
.removeButtonIcon2 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.removeButtonRow1 {
  width: 311px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.removeItem7,
.removeMenu {
  align-items: center;
  gap: var(--gap-5xs);
}
.removeItem7 {
  width: 134px;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.removeMenu {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xs);
  justify-content: center;
}
.sectionAdderChild {
  position: relative;
  border-top: 5px solid var(--dark-text);
  box-sizing: border-box;
  width: 320.03px;
  height: 5px;
  flex-shrink: 0;
}
.menuTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}
.vectorIcon {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.button1,
.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText {
  position: relative;
  line-height: 140%;
  width: 108px;
  height: 22px;
  flex-shrink: 0;
}
.button1 {
  border-radius: var(--br-41xl);
  background-color: var(--main-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button1,
.selectionAdderButton {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.addItem {
  position: relative;
  width: 150px;
  height: 30px;
  flex-shrink: 0;
}
.addItemGroup,
.addItemParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.addItemGroup {
  justify-content: center;
}
.selectionAdderButton4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.addItem5,
.buttonText7 {
  position: relative;
  flex-shrink: 0;
}
.addItem5 {
  width: 150px;
  height: 30px;
  display: none;
}
.buttonText7 {
  font-size: var(--font-size-base);
  line-height: 140%;
  font-family: var(--large-button-text);
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 22px;
}
.addItemParent1,
.button8,
.frameDiv {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--main-button);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.addItemParent1,
.frameDiv {
  display: none;
  gap: var(--gap-base);
}
.addItemParent1 {
  justify-content: flex-start;
}
.frameParent,
.searchBarParent,
.sectionAdder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameParent {
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.searchBarParent,
.sectionAdder {
  gap: var(--gap-xs);
  font-size: var(--button-text-size);
  color: var(--color-white);
}
.searchBarParent {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
}
.headerParent,
.navMenuChild {
  position: absolute;
  top: 0;
  left: 0;
}
.headerParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navMenuChild {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.interactiveButtonhomeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.label {
  position: relative;
  z-index: 1;
}
.placeholder {
  position: relative;
  width: 0;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.badge {
  position: absolute;
  top: -4px;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--danger-6);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeWrapper {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: calc(50% + 10.2px);
  width: 0;
  height: 0;
  flex-shrink: 0;
  display: none;
  z-index: 2;
}
.home {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
}
.profileChild {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  z-index: 0;
}
.profile {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-9xs);
}
.friendsChild {
  position: relative;
  width: 26px;
  height: 21px;
  flex-shrink: 0;
  z-index: 0;
}
.button13,
.tipsplusIcon {
  flex-shrink: 0;
  overflow: hidden;
}
.tipsplusIcon {
  position: relative;
  width: 17px;
  height: 17px;
}
.button13 {
  border-radius: var(--br-81xl);
  background-color: var(--primary-6);
  border: 1px solid var(--primary-6);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm-5);
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.badgeWrapper4 {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: calc(50% + 10.2px);
  width: 0;
  height: 0;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.label3 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 18px;
  flex-shrink: 0;
  z-index: 2;
}
.add,
.navMenu1 {
  display: flex;
  justify-content: flex-start;
}
.add {
  flex: 1;
  height: 55px;
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-base) var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
}
.navMenu1 {
  position: absolute;
  height: 88.87%;
  width: 99.53%;
  top: 9.57%;
  right: 0.47%;
  bottom: 1.56%;
  left: 0;
  flex-direction: row;
  align-items: flex-start;
}
.footer,
.frameChild,
.frameItem,
.navMenu {
  position: absolute;
  height: 67.63%;
  width: 100%;
  top: 32.37%;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer,
.frameChild,
.frameItem {
  height: 82.31%;
  top: 9.23%;
  bottom: 8.46%;
}
.frameChild,
.frameItem {
  height: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem {
  height: 50%;
  width: 50%;
  top: 24.26%;
  right: 25%;
  bottom: 25.74%;
  left: 25%;
}
.spin {
  position: absolute;
  height: 31%;
  width: 40%;
  top: 34.36%;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipseParent,
.spinButtonChild {
  position: absolute;
  top: 12.31px;
  left: 11.54px;
  width: 76.92px;
  height: 76.11px;
}
.spinButtonChild {
  height: 112.53%;
  width: 122.82%;
  top: -11.53%;
  right: -11.79%;
  bottom: -1%;
  left: -11.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.spinButton {
  position: absolute;
  height: 76.92%;
  width: 23.26%;
  top: 13.85%;
  right: 38.6%;
  bottom: 9.23%;
  left: 38.14%;
  color: var(--color-white);
}
.navigationBar {
  position: absolute;
  top: 813px;
  left: 0;
  width: 430px;
  height: 130px;
  font-size: var(--small-text-size);
  color: var(--text-3);
}
.button14,
.buttonText12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText12 {
  align-self: stretch;
  position: relative;
  width: 239px;
  flex-shrink: 0;
}
.button14 {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: var(--br-11xl);
  background-color: var(--secondary-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 62px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs-5) var(--padding-base);
  box-sizing: border-box;
}
.secondaryButton {
  position: absolute;
  top: 640px;
  left: 65px;
  width: 298px;
  height: 78px;
  cursor: pointer;
  font-size: var(--large-button-text-size);
  color: var(--color-gray-100);
}
.blankFrame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-slategray);
  width: 430px;
  height: 932px;
  overflow: hidden;
}
.addFriends {
  position: relative;
  width: 100%;
  height: 932px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--large-button-text);
}
