.generalmenuIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: none;
}
.header,
.login1 {
  position: absolute;
}
.header {
  top: 0;
  left: 0;
  background-color: var(--app-header);
  width: 430px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.login1 {
  top: 88px;
  left: 147px;
  display: inline-block;
  width: 146px;
  height: 62px;
}
.login {
  position: relative;
  background-color: var(--color-slategray);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--large-button-text);
}
