.menuTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}
.vectorIcon {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.button,
.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText {
  position: relative;
  line-height: 140%;
  width: 108px;
  height: 22px;
  flex-shrink: 0;
}
.button {
  border-radius: var(--br-41xl);
  background-color: var(--main-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button,
.selectionAdderButton {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.addItem {
  position: relative;
  width: 150px;
  height: 30px;
  flex-shrink: 0;
}
.addItemParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.addItemGroup,
.addItemParent {
  flex-direction: row;
  gap: var(--gap-base);
}
.addItemGroup,
.addMenu,
.button7,
.buttonText7,
.frameParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 140%;
  font-family: var(--large-button-text);
  color: var(--color-gray-100);
  text-align: center;
  width: 108px;
  height: 22px;
  flex-shrink: 0;
}
.addMenu,
.button7,
.frameParent {
  gap: var(--gap-5xs);
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--main-button);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  box-sizing: border-box;
}
.addMenu,
.frameParent {
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.addMenu {
  position: absolute;
  top: 507px;
  left: 35px;
  padding: 0 var(--padding-xs);
  text-align: left;
  font-size: var(--button-text-size);
  color: var(--color-white);
  font-family: var(--large-button-text);
}
