
.generalpen_generalpen {
	width: 20px;
	height: 20px;
}
.generalpen_generalpen .Vector {
	position: absolute;
	left: 2.146240234375px;
	top: 1.5778350830078125px;
	width: 79.296875%;
	height: 79.29676055908203%;
}