
.iPhone14ProMax6_iPhone14ProMax6 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(113,119,132,1.00);
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer {
	position: absolute;
	left: -3.35px;
	top: 2763.75px;
	width: 1440.5px;
	height: 358.45px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.531927490234375px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.166259765625%;
	height: 79.16656494140625%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .Button {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16618795955883%;
	height: 79.16654698988971%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .Rectangle969_1 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .interactivebuttonhome_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .interactivebuttonhome_1 .Vector_6 {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.531927490234375px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .label_4 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 .badge_5 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 .badge_5 .placeholder_5 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 .generaluser_3 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 .generaluser_3 .Vector_7 {
	width: 79.166259765625%;
	height: 79.16656494140625%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Profile_3 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 .badge_6 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 .badge_6 .placeholder_6 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .interactivebuttonsearch_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .interactivebuttonsearch_1 .Vector_8 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .label_5 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 .badge_7 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 .badge_7 .placeholder_7 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_4 .Vector_9 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_5 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_5 .Vector_10 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .label_6 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 .badge_8 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 .badge_8 .placeholder_8 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 .tipsplus_1 {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 .tipsplus_1 .Vector_11 {
	width: 79.16618795955883%;
	height: 79.16654698988971%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 .badge_9 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 .badge_9 .placeholder_9 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .label_7 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group1 {
	width: 76.923095703125%;
	height: 76.1123046875%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 49.99984130863249%;
	height: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group1 .SPIN {
	width: 40.000063476547005%;
	height: 30.999964715995844%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 {
	width: 122.82373046874999%;
	height: 123.09646606445312%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.9966924144182%;
	height: 73.89943289224952%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99927646565399%;
	height: 73.90196163500573%;
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .generalmenu {
	position: absolute;
	right: 80.4px;
	top: 14.01824034334764%;
	transform: translate(0, -50%);
	width: 107.2px;
	height: 107.2px;
}
.iPhone14ProMax6_iPhone14ProMax6 .generalmenu .Vector_12 {
	position: absolute;
	left: 11.16639404296875px;
	top: 17.866700744628908px;
	width: 79.16641235351562%;
	height: 66.66669845581055%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 {
	position: absolute;
	left: 6.7px;
	top: 378.55px;
	width: 1423.75px;
	height: 138.87471618652344px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1423.75px;
	height: 138.87471618652344px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1423.75px;
	height: 138.87471618652344px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2612 {
	position: absolute;
	left: 358.45px;
	top: 0px;
	width: 345.05px;
	height: 138.69146194458008px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2612 .Rectangle971 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 345.05px;
	height: 138.69146194458008px;
	background: rgba(49,131,140,1.00);
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2612 .Salads {
	position: absolute;
	left: 20.1px;
	top: 36.85px;
	width: 88.3495145631068%;
	height: 45.89323604176441%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 46.9px;
	font-weight: 400;
	line-height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2613 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.75px;
	height: 137.35px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2613 .Rectangle971_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.75px;
	height: 137.35px;
	background: rgba(137,223,223,1.00);
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2613 .Entres {
	position: absolute;
	left: 67px;
	top: 36.85px;
	width: 62.857142857142854%;
	height: 46.34146341463415%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 46.9px;
	font-weight: 400;
	line-height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2615 {
	position: absolute;
	left: 1072px;
	top: 1.5247161865234375px;
	width: 351.75px;
	height: 137.35px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2615 .Rectangle971_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.75px;
	height: 137.35px;
	background: rgba(137,223,223,1.00);
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2615 .Sides {
	position: absolute;
	left: 43.550000000000004px;
	top: 35.32528381347657px;
	width: 75.23809523809524%;
	height: 46.34146341463415%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 46.9px;
	font-weight: 400;
	line-height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2614 {
	position: absolute;
	left: 710.2px;
	top: 1.5247161865234375px;
	width: 355.1px;
	height: 137.35px;
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2614 .Rectangle971_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 355.1px;
	height: 137.35px;
	background: rgba(137,223,223,1.00);
	border-radius: 33.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group2758 .Group2751 .Group2722 .Group2614 .Breakfast {
	position: absolute;
	left: 56.95px;
	top: 38.67528381347656px;
	width: 66.98113207547169%;
	height: 46.34146341463415%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 46.9px;
	font-weight: 400;
	line-height: 67px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 {
	position: absolute;
	left: 887.75px;
	top: 827.45px;
	width: 365.15000000000003px;
	height: 271.35px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 365.15000000000003px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 {
	position: absolute;
	left: 264.65000000000003px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .Group3768 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .Group3768 .Ellipse3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(235,87,87,1.00);
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .Group3768 .tipsclose {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.565210723876953px;
	width: 69.9132568359375px;
	height: 69.91305236816406px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .Group3768 .tipsclose .Vector_13 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.29836597442627px;
	width: 64.81832432558902%;
	height: 64.81811176069746%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .tipsclose_1 {
	position: absolute;
	left: 14.56546630859375px;
	top: 13.108684539794922px;
	width: 71.36988525390625px;
	height: 71.36956577301025px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .Group3769 .tipsclose_1 .Vector_14 {
	position: absolute;
	left: 12.5543212890625px;
	top: 12.554576873779297px;
	width: 64.81784948947434%;
	height: 64.81812173634648%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton .AnItem {
	position: absolute;
	left: 0px;
	top: 16.75px;
	width: 214.4px;
	height: 83.75px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 {
	position: absolute;
	left: 0px;
	top: 170.85px;
	width: 365.15000000000003px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 {
	position: absolute;
	left: 264.65000000000003px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .Group3768_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .Group3768_1 .Ellipse3_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(235,87,87,1.00);
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .Group3768_1 .tipsclose_2 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.565217113494873px;
	width: 69.9132568359375px;
	height: 69.91304597854615px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .Group3768_1 .tipsclose_2 .Vector_15 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.29836277961731px;
	width: 64.81832432558902%;
	height: 64.81812225435932%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .tipsclose_3 {
	position: absolute;
	left: 14.56546630859375px;
	top: 13.108697319030762px;
	width: 71.36988525390625px;
	height: 71.36956577301025px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .Group3769_1 .tipsclose_3 .Vector_16 {
	position: absolute;
	left: 12.5543212890625px;
	top: 12.554576873779297px;
	width: 64.81784948947434%;
	height: 64.81812173634648%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Group3770 .RemoveButton_1 .AnItem_1 {
	position: absolute;
	left: 0px;
	top: 16.75px;
	width: 214.4px;
	height: 83.75px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 {
	position: absolute;
	left: 887.75px;
	top: 1343.3500000000001px;
	width: 365.15000000000003px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 {
	position: absolute;
	left: 264.65000000000003px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .Group3768_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .Group3768_2 .Ellipse3_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(235,87,87,1.00);
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .Group3768_2 .tipsclose_4 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.565210723876953px;
	width: 69.9132568359375px;
	height: 69.91305236816406px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .Group3768_2 .tipsclose_4 .Vector_17 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.29835319519043px;
	width: 64.81832432558902%;
	height: 64.81811176069746%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .tipsclose_5 {
	position: absolute;
	left: 14.56546630859375px;
	top: 13.108684539794922px;
	width: 71.36988525390625px;
	height: 71.3695785522461px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .Group3769_2 .tipsclose_5 .Vector_18 {
	position: absolute;
	left: 12.5543212890625px;
	top: 12.554576873779297px;
	width: 64.81784948947434%;
	height: 64.81812803591458%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_2 .AnItem_2 {
	position: absolute;
	left: 0px;
	top: 16.75px;
	width: 214.4px;
	height: 83.75px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 {
	position: absolute;
	left: 887.75px;
	top: 1189.25px;
	width: 365.15000000000003px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 {
	position: absolute;
	left: 264.65000000000003px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .Group3768_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .Group3768_3 .Ellipse3_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(235,87,87,1.00);
	border-radius: 50%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .Group3768_3 .tipsclose_6 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.565210723876953px;
	width: 69.9132568359375px;
	height: 69.91305236816406px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .Group3768_3 .tipsclose_6 .Vector_19 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.29836597442627px;
	width: 64.81832432558902%;
	height: 64.81811176069746%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .tipsclose_7 {
	position: absolute;
	left: 14.56546630859375px;
	top: 13.108697319030762px;
	width: 71.36988525390625px;
	height: 71.36956577301025px;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .Group3769_3 .tipsclose_7 .Vector_20 {
	position: absolute;
	left: 12.5543212890625px;
	top: 12.554576873779297px;
	width: 64.81784948947434%;
	height: 64.81812173634648%;
}
.iPhone14ProMax6_iPhone14ProMax6 .RemoveButton_3 .AnItem_3 {
	position: absolute;
	left: 0px;
	top: 16.75px;
	width: 214.4px;
	height: 83.75px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax6_iPhone14ProMax6 .CancelButton {
	width: 105px;
	height: 35px;
	display: flex;
	padding-top: 7.5px;
	padding-right: 16px;
	padding-bottom: 7.5px;
	padding-left: 16px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(235,87,87,1.00);
	border-radius: 20px;
	border: 1px solid rgba(235.0000011920929,87.00000241398811,87.00000241398811,1);
	box-sizing: border-box;
}
.iPhone14ProMax6_iPhone14ProMax6 .CancelButton .ButtonText {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 55px;
	height: 25px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 18px;
	font-weight: 400;
	line-height: 25.19999885559082px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Button_2 {
	position: absolute;
	left: 144.05px;
	top: 1943px;
	width: 351.75px;
	height: 117.25px;
	background: rgba(59,201,201,1.00);
	border-radius: 67px;
	border: 1px solid rgba(235.0000011920929,87.00000241398811,87.00000241398811,1);
}
.iPhone14ProMax6_iPhone14ProMax6 .Button_2 .tipsplus_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 13.4px;
	width: 53.6px;
	height: 53.6px;
}
.iPhone14ProMax6_iPhone14ProMax6 .Button_2 .tipsplus_2 .Vector_21 {
	position: absolute;
	left: 5.58360595703125px;
	top: 5.583299255371094px;
	width: 79.16717529296875%;
	height: 79.1666030883789%;
}
.iPhone14ProMax6_iPhone14ProMax6 .Button_2 .ButtonText_1 {
	position: relative;
	flex: none;
	margin-right: 13.4px;
	width: 224.45000000000002px;
	height: 83.75px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax6_iPhone14ProMax6 .directionarrowright {
	position: absolute;
	left: 43.550000000000004px;
	top: 40.2px;
	width: 160.8px;
	height: 160.8px;
}
.iPhone14ProMax6_iPhone14ProMax6 .directionarrowright .Vector_22 {
	position: absolute;
	left: 15.797998046875px;
	top: 33.031053161621095px;
	width: 79.75870768229166%;
	height: 58.92556508382162%;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton {
	position: absolute;
	left: 1051.9px;
	top: 1919.55px;
	width: 167.5px;
	height: 167.5px;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton .Button_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 167.5px;
	height: 167.5px;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton .Button_3 .tipsplus_3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 53.6px;
	height: 53.6px;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton .Button_3 .tipsplus_3 .Vector_23 {
	position: absolute;
	left: 5.58360595703125px;
	top: 5.583299255371094px;
	width: 79.16717529296875%;
	height: 79.1666030883789%;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton .directionarrowright_1 {
	position: absolute;
	left: 29.13011474609375px;
	top: 24.275436401367188px;
	width: 116.5220947265625px;
	height: 116.52168579101563px;
}
.iPhone14ProMax6_iPhone14ProMax6 .ForwardButton .directionarrowright_1 .Vector_24 {
	position: absolute;
	left: 12.13802490234375px;
	top: 23.925080871582033px;
	width: 79.75854565873517%;
	height: 58.92559460094968%;
}