
.iPhone14ProMax7_iPhone14ProMax7 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(113,119,132,1.00);
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer {
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.531927490234375px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.166259765625%;
	height: 79.16656494140625%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16762408088235%;
	height: 79.16654698988971%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201.00081787109374px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group1 {
	width: 76.923095703125%;
	height: 76.1123046875%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 49.99984130863249%;
	height: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group1 .SPIN {
	width: 40.000063476547005%;
	height: 30.999964715995844%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 {
	width: 122.82373046874999%;
	height: 123.09646606445312%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.9966924144182%;
	height: 73.89943289224952%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99927646565399%;
	height: 73.90196163500573%;
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner {
	position: absolute;
	left: -201px;
	top: 445.55px;
	width: 1785.9114990234375px;
	height: 1785.9110900878907px;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 {
	position: absolute;
	left: 0px;
	top: -127.3px;
	width: 1785.9114990234375px;
	height: 1785.9110900878907px;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1785.9114990234375px;
	height: 1785.9110900878907px;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk {
	position: absolute;
	left: 239.7065673828125px;
	top: 239.7054428100586px;
	width: 73.15592070012502%;
	height: 73.15593745127047%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk .SpinnerBackground {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100.00000782502003%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk .SpinnerBackground .SpinnerBackground_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(235,87,87,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_1 {
	position: absolute;
	left: 2.45770263671875px;
	top: 2.4571914672851562px;
	width: 99.72481349691566%;
	height: 99.72483633177086%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_1 .SpinnerBackground_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_1 .SpinnerBackground_2 .SpinnerBackground_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(242,201,76,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_2 {
	position: absolute;
	left: 0.00081787109375px;
	top: 0px;
	width: 99.9999542042764%;
	height: 100%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_2 .SpinnerBackground_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_2 .SpinnerBackground_4 .SpinnerBackground_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(47,128,237,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_3 {
	position: absolute;
	left: 231.57120361328126px;
	top: 231.5703857421875px;
	width: 74.06693502960694%;
	height: 74.06695198935523%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_3 .SpinnerBackground_6 {
	position: absolute;
	left: 0px;
	top: -0.00010223388671875px;
	width: 100%;
	height: 100.00000772877324%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_3 .SpinnerBackground_6 .SpinnerBackground_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(86,204,242,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_4 {
	position: absolute;
	left: 3.0539306640625px;
	top: 3.0527549743652345px;
	width: 99.65808912763727%;
	height: 99.65812339614753%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_4 .SpinnerBackground_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_4 .SpinnerBackground_8 .SpinnerBackground_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(187,107,217,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_5 {
	position: absolute;
	left: 0.20283203125000002px;
	top: 0.20150299072265626px;
	width: 99.9773769125439%;
	height: 99.97739980523073%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_5 .SpinnerBackground_10 {
	position: absolute;
	left: 0px;
	top: -0.000255584716796875px;
	width: 100%;
	height: 100.0000114515216%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerChunk_5 .SpinnerBackground_10 .SpinnerBackground_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(33,150,83,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerLines {
	position: absolute;
	left: 239.7065673828125px;
	top: 239.7054428100586px;
	width: 73.15592070012502%;
	height: 73.15593745127047%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerLines .Ellipse2_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(196,196,196,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerLines .Ellipse3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(196,196,196,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerLines .spinnerdivision {
	position: absolute;
	left: -11.76998291015625px;
	top: -14.71283645629883px;
	width: 102.02705578926282%;
	height: 102.02703231420271%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .Spinner_2 .SpinnerLines .spinnerdivision .spinnerdivision_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(196,196,196,1.00);
	border: 7.432432651519775px solid rgba(36.00000165402889,46.000001057982445,66.00000366568565,1);
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 {
	position: absolute;
	left: 239.70574951171875px;
	top: 239.7054428100586px;
	width: 73.15587490440143%;
	height: 73.15593745127047%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .SpinnerBackground_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 7.432432651519775px solid rgba(36.00000165402889,46.000001057982445,66.00000366568565,1);
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .Group3770 {
	position: absolute;
	left: 487.24425048828124px;
	top: 460.4446594238281px;
	width: 25.64104169235883%;
	height: 29.743589743589745%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .Group3770 .Ellipse4 {
	position: absolute;
	left: 0px;
	top: 58.656603050231936px;
	width: 100%;
	height: 84.90566385203394%;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .Group3770 .Ellipse5 {
	position: absolute;
	left: 18.611474609375px;
	top: 84.31886768341064px;
	width: 88.888916015625%;
	height: 71.69811643403152%;
	border-radius: 50%;
	border: 2px solid rgba(201.00000321865082,198.00000339746475,207.00000286102295,1);
	box-sizing: border-box;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .Group3770 .Polygon1 {
	position: absolute;
	left: 111.66639404296875px;
	top: 0px;
	width: 34.4443359375%;
	height: 24.52830117324303%;
	background: rgba(217,217,217,1.00);
	border-radius: 3.35px;
}
.iPhone14ProMax7_iPhone14ProMax7 .Spinner .Spinner_1 .SpinnerBackground_12 .Group3770 .SPIN_1 {
	position: absolute;
	left: 43.550000000000004px;
	top: 167.5px;
	width: 75%;
	height: 29.310344827586203%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(36,46,66,1.00);
	font-family: Baloo;
	font-size: 80.4px;
	font-weight: 400;
	line-height: 126.54960327148437px;
}
.iPhone14ProMax7_iPhone14ProMax7 .EditButton {
	position: absolute;
	left: 1102.15px;
	top: 485.75px;
	width: 304.85px;
	height: 110.55px;
}
.iPhone14ProMax7_iPhone14ProMax7 .EditButton .Button_1 {
	width: 100%;
	height: 100%;
	border-radius: 201px;
}
.iPhone14ProMax7_iPhone14ProMax7 .EditButton .Button_1 .generalpen {
	position: relative;
	flex: none;
	margin-right: 40.2px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax7_iPhone14ProMax7 .EditButton .Button_1 .generalpen .Vector_6 {
	width: 79.296875%;
	height: 79.29672241210938%;
}
.iPhone14ProMax7_iPhone14ProMax7 .EditButton .Button_1 .Edit {
	width: 134px;
	height: 103.85000000000001px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.iPhone14ProMax7_iPhone14ProMax7 .SpinnerTitle {
	position: absolute;
	left: 190.95000000000002px;
	top: 214.4px;
	width: 834.15px;
	height: 254.6px;
}
.iPhone14ProMax7_iPhone14ProMax7 .SpinnerTitle .WorkBuds {
	width: 787.25px;
	height: 254.6px;
	font-size: 160.8px;
	font-weight: 400;
	line-height: 253.09920654296874px;
}
.iPhone14ProMax7_iPhone14ProMax7 .generalmenu {
	position: absolute;
	right: 80.4px;
	top: 14.01824034334764%;
	transform: translate(0, -50%);
	width: 107.2px;
	height: 107.2px;
}
.iPhone14ProMax7_iPhone14ProMax7 .generalmenu .Vector_7 {
	position: absolute;
	left: 11.1672119140625px;
	top: 17.866700744628908px;
	width: 79.16717529296875%;
	height: 66.66669845581055%;
}