
.iPhone14ProMax8_iPhone14ProMax8 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(113,119,132,1.00);
}
.iPhone14ProMax8_iPhone14ProMax8 .MainHeader48 {
	position: absolute;
	left: 100.5px;
	top: 97.15px;
	width: 1232.8px;
	height: 254.6px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(34.00000177323818,36.00000165402889,39.00000147521496,1);
	font-family: Baloo;
	font-size: 160.8px;
	font-weight: 400;
	line-height: 253.09920654296874px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group8 {
	position: absolute;
	left: 110.55px;
	top: 388.6px;
	width: 1155.75px;
	height: 659.95px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group8 .Heading1size32 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 877.7px;
	height: 167.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 107.2px;
	font-weight: 400;
	line-height: 168.73280010223388px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group8 .Heading2size25 {
	position: absolute;
	left: 87.10000000000001px;
	top: 194.3px;
	width: 696.8000000000001px;
	height: 130.65px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 83.75px;
	font-weight: 400;
	line-height: 131.82249488830567px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group8 .Thisisthemainbodytextwhichwilldisplayinformationsize16 {
	position: absolute;
	left: 157.45000000000002px;
	top: 351.75px;
	width: 917.9px;
	height: 167.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group8 .Theremightbetimeswheretipsareneededwhichwillbesize11 {
	position: absolute;
	left: 237.85px;
	top: 546.0500000000001px;
	width: 917.9px;
	height: 113.9px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 36.85px;
	font-weight: 400;
	line-height: 58.00189723968506px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer {
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 6.9797119140625px;
	top: 6.531927490234375px;
	width: 79.16748046875%;
	height: 79.833984375%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.16748046875%;
	height: 79.16656494140625%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.682812500000004px;
	height: 56.27995910644531px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 6.0080810546875005px;
	top: 5.8625px;
	width: 79.16572141560798%;
	height: 79.1666515289681%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.682812500000004px;
	height: 56.27995910644531px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 6.0080810546875005px;
	top: 5.8625px;
	width: 79.16572141560798%;
	height: 79.1666515289681%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16762408088235%;
	height: 79.16654698988971%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group1 {
	width: 76.9228515625%;
	height: 76.1123046875%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 50%;
	height: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group1 .SPIN {
	width: 39.99987304650306%;
	height: 30.999964715995844%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 {
	width: 122.82373046874999%;
	height: 123.09646606445312%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66300393968426%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.9968911875902%;
	height: 73.89943289224952%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66300393968426%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99927646565399%;
	height: 73.90196163500573%;
	border-radius: 50%;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 {
	position: absolute;
	left: 187.6px;
	top: 1179.2px;
	width: 1155.75px;
	height: 1440.5px;
	border-radius: 100.5px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .TextelsewherewillbeleftalignedFontshouldbethesamethroughout {
	position: absolute;
	left: 0px;
	top: 234.5px;
	width: 917.9px;
	height: 251.25px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Friendcaneatatrestaurantwithyou {
	position: absolute;
	left: 117.25px;
	top: 770.5px;
	width: 998.3000000000001px;
	height: 100.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Somedietaryconflicts {
	position: absolute;
	left: 120.60000000000001px;
	top: 911.2px;
	width: 998.3000000000001px;
	height: 100.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Mediumdietaryconflicts {
	position: absolute;
	left: 117.25px;
	top: 1051.9px;
	width: 998.3000000000001px;
	height: 100.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Almostnothingedible {
	position: absolute;
	left: 117.25px;
	top: 1195.95px;
	width: 998.3000000000001px;
	height: 100.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Frienddoesnothaverestaurantadded {
	position: absolute;
	left: 120.60000000000001px;
	top: 1340px;
	width: 1035.15px;
	height: 100.5px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Button_1 {
	position: absolute;
	left: 10.05px;
	top: 0px;
	width: 944.7px;
	height: 207.70000000000002px;
	display: flex;
	padding-top: 25.125px;
	padding-right: 53.6px;
	padding-bottom: 25.125px;
	padding-left: 53.6px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 100.5px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group7 .Button_1 .ButtonText {
	position: relative;
	flex: none;
	margin-right: 13.4px;
	height: 157.45000000000002px;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(37,54,73,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax8_iPhone14ProMax8 .StatusColors {
	position: absolute;
	left: 73.7px;
	top: 1758.75px;
	width: 532.65px;
	height: 130.65px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(34.00000177323818,36.00000165402889,39.00000147521496,1);
	font-family: Baloo;
	font-size: 83.75px;
	font-weight: 400;
	line-height: 131.82249488830567px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 {
	position: absolute;
	left: 177.55px;
	top: 1949.7px;
	width: 100.5px;
	height: 663.3000000000001px;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 .Ellipse3 {
	position: absolute;
	left: 0px;
	top: 140.70000000000002px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(58,193,194,1.00);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 .Ellipse4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(35,180,93,1.00);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 .Ellipse5 {
	position: absolute;
	left: 0px;
	top: 281.40000000000003px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(244,187,41,1.00);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 .Ellipse6 {
	position: absolute;
	left: 0px;
	top: 422.1px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(212,80,80,1.00);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.iPhone14ProMax8_iPhone14ProMax8 .Group11 .Ellipse7 {
	position: absolute;
	left: 0px;
	top: 562.8000000000001px;
	width: 100.5px;
	height: 100.5px;
	background: rgba(200,203,208,1.00);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}