
.iPhone14ProMax4_iPhone14ProMax4 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(113,119,132,1.00);
}
.iPhone14ProMax4_iPhone14ProMax4 .Spacing {
	position: absolute;
	left: 100.5px;
	top: 97.15px;
	width: 579.5500000000001px;
	height: 254.6px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Baloo;
	font-size: 160.8px;
	font-weight: 400;
	line-height: 253.09920654296874px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Buttonswillbe12pawayfromeachother {
	position: absolute;
	left: 271.35px;
	top: 840.85px;
	width: 917.9px;
	height: 211.05px;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Headersandbuttonswillbe12pawayMaintextandbuttonswillbe8p {
	position: absolute;
	left: 169.8372093023256%;
	top: 1551.05px;
	transform: translate(-50%, 0);
	width: 917.9px;
	height: 298.15000000000003px;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 84.36640005111694px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer {
	position: absolute;
	left: -3.35px;
	top: 2763.75px;
	width: 1440.5px;
	height: 358.45px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.531927490234375px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.166259765625%;
	height: 79.16656494140625%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .Button {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16618795955883%;
	height: 79.16654698988971%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 {
	width: 100%;
	height: 67.63448269567756%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .Rectangle969_1 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 {
	width: 99.53488372093024%;
	height: 88.87088721185603%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .interactivebuttonhome_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .interactivebuttonhome_1 .Vector_6 {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.531927490234375px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .label_4 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 .badge_5 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Home_1 .badgewrapper_5 .badge_5 .placeholder_5 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 .generaluser_3 {
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Group2_2 .generaluser_3 .Vector_7 {
	width: 79.166259765625%;
	height: 79.16656494140625%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .Profile_3 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 .badge_6 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Profile_2 .badgewrapper_6 .badge_6 .placeholder_6 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .interactivebuttonsearch_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .interactivebuttonsearch_1 .Vector_8 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244802856445313px;
	width: 81.6943359375%;
	height: 81.69403076171875%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .label_5 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 .badge_7 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .componentbasic_1 .badgewrapper_7 .badge_7 .placeholder_7 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 {
	width: 286.7603271484375px;
	height: 187.6px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_4 .Vector_9 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_5 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070040893554689px;
	width: 57.68199462890625px;
	height: 56.27995910644531px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .Group2_3 .generaluser_5 .Vector_10 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .label_6 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 .badge_8 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Friends_1 .badgewrapper_8 .badge_8 .placeholder_8 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 {
	width: 286.7603271484375px;
	height: 184.25px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 .tipsplus_1 {
	width: 56.95px;
	height: 56.95px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .Button_1 .tipsplus_1 .Vector_11 {
	width: 79.16618795955883%;
	height: 79.16654698988971%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 .badge_9 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .badgewrapper_9 .badge_9 .placeholder_9 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .Footer_1 .NavMenu_2 .NavMenu_3 .Add_1 .label_7 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group1 {
	width: 76.923095703125%;
	height: 76.1123046875%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 49.99984130863249%;
	height: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group1 .SPIN {
	width: 40.000063476547005%;
	height: 30.999964715995844%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 {
	width: 122.82373046874999%;
	height: 123.09646606445312%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.9966924144182%;
	height: 73.89943289224952%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66320271285625%;
	height: 82.07351947689733%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12791451163419%;
	height: 68.68749573894449%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99927646565399%;
	height: 73.90196163500573%;
	border-radius: 50%;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_2 {
	position: absolute;
	left: 244.55px;
	top: 345.05px;
	width: 944.7px;
	height: 207.70000000000002px;
	display: flex;
	padding-top: 25.125px;
	padding-right: 53.6px;
	padding-bottom: 25.125px;
	padding-left: 53.6px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 100.5px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_2 .ButtonText {
	position: relative;
	flex: none;
	margin-right: 13.4px;
	height: 157.45000000000002px;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_3 {
	position: absolute;
	left: 234.5px;
	top: 592.95px;
	width: 944.7px;
	height: 207.70000000000002px;
	display: flex;
	padding-top: 25.125px;
	padding-right: 53.6px;
	padding-bottom: 25.125px;
	padding-left: 53.6px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(35,180,93,1.00);
	border-radius: 100.5px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_3 .ButtonText_1 {
	position: relative;
	flex: none;
	margin-right: 13.4px;
	height: 157.45000000000002px;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Header {
	position: absolute;
	left: 100.5px;
	top: 1145.7px;
	width: 278.05px;
	height: 130.65px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Baloo;
	font-size: 83.75px;
	font-weight: 400;
	line-height: 131.82249488830567px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_4 {
	position: absolute;
	left: 234.5px;
	top: 1316.55px;
	width: 944.7px;
	height: 207.70000000000002px;
	display: flex;
	padding-top: 25.125px;
	padding-right: 53.6px;
	padding-bottom: 25.125px;
	padding-left: 53.6px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 100.5px;
}
.iPhone14ProMax4_iPhone14ProMax4 .Button_4 .ButtonText_2 {
	position: relative;
	flex: none;
	margin-right: 13.4px;
	height: 157.45000000000002px;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}