
.NavigationBar_NavigationBar {
	width: 430px;
	height: 130px;
}
.NavigationBar_NavigationBar .Footer {
	position: absolute;
	left: 0px;
	top: 12px;
}
.NavigationBar_NavigationBar .Footer .NavMenu {
}
.NavigationBar_NavigationBar .Footer .NavMenu .Rectangle969 {
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 {
	height: 88.87088721185603%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 85.60009765625px;
	height: 55px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 2.083251953125px;
	top: 1.949859619140625px;
	width: 79.166259765625%;
	height: 79.83413696289062%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 32px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 12px;
	font-weight: 400;
	line-height: 18.88800048828125px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 0px;
	height: 0px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -4px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile {
	width: 85.5999755859375px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.1668701171875%;
	height: 79.16671752929688%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	font-weight: 400;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0.0001220703125px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -4px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 85.5999755859375px;
	height: 55px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 1.5654296875px;
	top: 1.56561279296875px;
	width: 81.6943359375%;
	height: 81.69418334960938%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 38px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 12px;
	font-weight: 400;
	line-height: 18.88800048828125px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 0.0001220703125px;
	height: 0px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -4px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends {
	width: 85.5999755859375px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 17.218505859375px;
	height: 16.79998779296875px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 1.7935791015625px;
	top: 1.75px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 8.78125px;
	top: 4.20001220703125px;
	width: 17.218505859375px;
	height: 16.79998779296875px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 1.7935791015625px;
	top: 1.75px;
	width: 79.16684390375318%;
	height: 79.1666515289681%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	font-weight: 400;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0.0001220703125px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -4px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add {
	width: 85.5999755859375px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button {
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16690602022058%;
	height: 79.16672650505515%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0.0001220703125px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -4px;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.NavigationBar_NavigationBar .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	font-weight: 400;
}
.NavigationBar_NavigationBar .SpinButton {
	position: absolute;
	left: 164px;
	top: 18px;
}
.NavigationBar_NavigationBar .SpinButton .Group1 {
}
.NavigationBar_NavigationBar .SpinButton .Group1 .Ellipse2 {
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group1 .Ellipse1 {
}
.NavigationBar_NavigationBar .SpinButton .Group1 .SPIN {
	height: 31.000004811455113%;
	font-weight: 400;
}
.NavigationBar_NavigationBar .SpinButton .Group12 {
	height: 123.09646606445312%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .Purple {
	height: 82.07349468530168%;
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .Purple_1 {
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .Yellow {
	height: 73.89943289224952%;
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .LightBlue {
	height: 82.07349468530168%;
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .Orange {
	border-radius: 50%;
}
.NavigationBar_NavigationBar .SpinButton .Group12 .Red {
	height: 73.90196163500573%;
	border-radius: 50%;
}