
.PrimaryButton_PrimaryButton {
	width: 298px;
	height: 78px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
}
.PrimaryButton_PrimaryButton .Button {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 282px;
	height: 62px;
	display: flex;
	padding-top: 7.5px;
	padding-right: 16px;
	padding-bottom: 7.5px;
	padding-left: 16px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 30px;
}
.PrimaryButton_PrimaryButton .Button .ButtonText {
	position: relative;
	flex: none;
	margin-right: 8px;
	height: 47px;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 24px;
	font-weight: 400;
	line-height: 37.7760009765625px;
}