
.Resturantsadd10_Resturantsadd10 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.5px;
	height: 3122.2000000000003px;
	background: rgba(113,119,132,1.00);
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.5px;
	height: 2599.6px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Header {
	position: relative;
	flex: none;
	margin-bottom: 40.2px;
	width: 1440.5px;
	height: 268px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Header .directionarrowright {
	position: relative;
	flex: none;
	width: 107.2px;
	height: 107.2px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Header .directionarrowright .Vector {
	position: absolute;
	left: 10.531726074218751px;
	top: 22.0219970703125px;
	width: 79.75921630859375%;
	height: 58.92486572265625%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Header .generalmenu {
	position: relative;
	flex: none;
	width: 107.2px;
	height: 107.2px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Header .generalmenu .Vector_1 {
	position: absolute;
	left: 11.16639404296875px;
	top: 17.8672119140625px;
	width: 79.16641235351562%;
	height: 66.66717529296875%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .AddRestaurants {
	position: relative;
	flex: none;
	margin-bottom: 40.2px;
	width: 1440.5px;
	height: 505.85px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Baloo;
	font-size: 160.8px;
	font-weight: 400;
	line-height: 253.09920654296874px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 {
	position: relative;
	flex: none;
	margin-bottom: 40.2px;
	width: 1286.4px;
	height: 1745.3500000000001px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SearchBar {
	position: relative;
	flex: none;
	margin-bottom: 107.2px;
	width: 1286.4px;
	height: 231.15px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SearchBar .Button {
	width: 100%;
	height: 100%;
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SearchBar .Button .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 160.8px;
	height: 160.8px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SearchBar .Button .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 12.58621826171875px;
	top: 12.5870361328125px;
	width: 81.69403076171875%;
	height: 81.69453938802084%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SearchBar .Button .Search {
	width: 1005px;
	height: 120.60000000000001px;
	font-size: 83.75px;
	font-weight: 400;
	line-height: 131.82249488830567px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder {
	position: relative;
	flex: none;
	margin-bottom: 107.2px;
	width: 1139px;
	height: 1038.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu {
	position: relative;
	flex: none;
	margin-bottom: 40.2px;
	width: 1122.25px;
	height: 355.1px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow {
	width: 1041.8500000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveText {
	width: 234.5px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .Group3768 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .Group3768 .Ellipse3 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .Group3768 .tipsclose {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .Group3768 .tipsclose .Vector_3 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .tipsclose_1 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem .RemoveButton .Group3770 .tipsclose_1 .Vector_4 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveText_1 {
	width: 281.40000000000003px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .Group3768_1 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .Group3768_1 .Ellipse3_1 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .Group3768_1 .tipsclose_2 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .Group3768_1 .tipsclose_2 .Vector_5 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .tipsclose_3 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow .RemoveItem_1 .RemoveButton_1 .Group3770_1 .tipsclose_3 .Vector_6 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 {
	width: 1041.8500000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveText_2 {
	width: 328.3px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .Group3768_2 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .Group3768_2 .Ellipse3_2 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .Group3768_2 .tipsclose_4 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .Group3768_2 .tipsclose_4 .Vector_7 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .tipsclose_5 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_2 .RemoveButton_2 .Group3770_2 .tipsclose_5 .Vector_8 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveText_3 {
	width: 281.40000000000003px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .Group3768_3 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .Group3768_3 .Ellipse3_3 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .Group3768_3 .tipsclose_6 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .Group3768_3 .tipsclose_6 .Vector_9 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .tipsclose_7 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_1 .RemoveItem_3 .RemoveButton_3 .Group3770_3 .tipsclose_7 .Vector_10 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 {
	width: 1041.8500000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveText_4 {
	width: 278.05px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .Group3768_4 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .Group3768_4 .Ellipse3_4 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .Group3768_4 .tipsclose_8 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .Group3768_4 .tipsclose_8 .Vector_11 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .tipsclose_9 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_4 .RemoveButton_4 .Group3770_4 .tipsclose_9 .Vector_12 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveText_5 {
	width: 284.75px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .Group3768_5 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .Group3768_5 .Ellipse3_5 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .Group3768_5 .tipsclose_10 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .Group3768_5 .tipsclose_10 .Vector_13 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .tipsclose_11 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_2 .RemoveItem_5 .RemoveButton_5 .Group3770_5 .tipsclose_11 .Vector_14 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 {
	visibility: hidden;
	width: 1041.8500000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveText_6 {
	width: 214.4px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .Group3768_6 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .Group3768_6 .Ellipse3_6 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .Group3768_6 .tipsclose_12 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .Group3768_6 .tipsclose_12 .Vector_15 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .tipsclose_13 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_6 .RemoveButton_6 .Group3770_6 .tipsclose_13 .Vector_16 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 448.90000000000003px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveText_7 {
	width: 214.4px;
	height: 83.75px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 84.41999616622925px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .Group3768_7 {
	width: 100.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .Group3768_7 .Ellipse3_7 {
	width: 100.5px;
	height: 100.5px;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .Group3768_7 .tipsclose_14 {
	position: absolute;
	left: 16.0220947265625px;
	top: 14.5646484375px;
	width: 69.9132568359375px;
	height: 69.9132568359375px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .Group3768_7 .tipsclose_14 .Vector_17 {
	visibility: hidden;
	position: absolute;
	left: 12.298327636718751px;
	top: 12.2991455078125px;
	width: 64.81832432558902%;
	height: 64.81832432558902%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .tipsclose_15 {
	width: 71.36988525390625px;
	height: 71.3690673828125px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .RemoveMenu .RemoveButtonRow_3 .RemoveItem_7 .RemoveButton_7 .Group3770_7 .tipsclose_15 .Vector_18 {
	width: 64.81784948947434%;
	height: 64.81859228530173%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .Line1 {
	width: 1055.33505859375px;
	height: 0px;
	border: 5px solid rgba(36.00000165402889,46.000001057982445,66.00000366568565,1);
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu {
	position: relative;
	flex: none;
	margin-bottom: 40.2px;
	width: 1139px;
	height: 603px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .MenuTitle {
	width: 1005px;
	height: 93.8px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 {
	width: 1058.6000000000001px;
	height: 482.40000000000003px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 {
	width: 1058.6000000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem .SelectionAdderButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem .SelectionAdderButton .Button_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem .SelectionAdderButton .Button_1 .Vector_19 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem .SelectionAdderButton .Button_1 .ButtonText {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem_1 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem_1 .SelectionAdderButton_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem_1 .SelectionAdderButton_1 .Button_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem_1 .SelectionAdderButton_1 .Button_2 .Vector_20 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_1 .AddItem_1 .SelectionAdderButton_1 .Button_2 .ButtonText_1 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 {
	width: 1058.6000000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_2 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_2 .SelectionAdderButton_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_2 .SelectionAdderButton_2 .Button_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_2 .SelectionAdderButton_2 .Button_3 .Vector_21 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_2 .SelectionAdderButton_2 .Button_3 .ButtonText_2 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_3 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_3 .SelectionAdderButton_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_3 .SelectionAdderButton_3 .Button_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_3 .SelectionAdderButton_3 .Button_4 .Vector_22 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3773 .AddItem_3 .SelectionAdderButton_3 .Button_4 .ButtonText_3 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 {
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_4 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_4 .SelectionAdderButton_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_4 .SelectionAdderButton_4 .Button_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_4 .SelectionAdderButton_4 .Button_5 .Vector_23 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_4 .SelectionAdderButton_4 .Button_5 .ButtonText_4 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_5 .SelectionAdderButton_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_5 .SelectionAdderButton_5 .Button_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_5 .SelectionAdderButton_5 .Button_6 .Vector_24 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3774 .AddItem_5 .SelectionAdderButton_5 .Button_6 .ButtonText_5 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 {
	visibility: hidden;
	width: 1058.6000000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_6 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_6 .SelectionAdderButton_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_6 .SelectionAdderButton_6 .Button_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_6 .SelectionAdderButton_6 .Button_7 .Vector_25 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_6 .SelectionAdderButton_6 .Button_7 .ButtonText_6 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_7 .SelectionAdderButton_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_7 .SelectionAdderButton_7 .Button_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_7 .SelectionAdderButton_7 .Button_8 .Vector_26 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3772_2 .AddItem_7 .SelectionAdderButton_7 .Button_8 .ButtonText_7 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 {
	visibility: hidden;
	width: 1058.6000000000001px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_8 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_8 .SelectionAdderButton_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_8 .SelectionAdderButton_8 .Button_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_8 .SelectionAdderButton_8 .Button_9 .Vector_27 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_8 .SelectionAdderButton_8 .Button_9 .ButtonText_8 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_9 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_9 .SelectionAdderButton_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_9 .SelectionAdderButton_9 .Button_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_9 .SelectionAdderButton_9 .Button_10 .Vector_28 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3775 .AddItem_9 .SelectionAdderButton_9 .Button_10 .ButtonText_9 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 {
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_10 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_10 .SelectionAdderButton_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_10 .SelectionAdderButton_10 .Button_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_10 .SelectionAdderButton_10 .Button_11 .Vector_29 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_10 .SelectionAdderButton_10 .Button_11 .ButtonText_10 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_11 {
	position: relative;
	flex: none;
	margin-right: 53.6px;
	width: 502.5px;
	height: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_11 .SelectionAdderButton_11 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_11 .SelectionAdderButton_11 .Button_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 26.8px;
	padding-right: 26.8px;
	padding-bottom: 26.8px;
	padding-left: 26.8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(59,201,201,1.00);
	border-radius: 201px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_11 .SelectionAdderButton_11 .Button_12 .Vector_30 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 50.25px;
	height: 50.25px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SectionAdder .AddMenu .Frame3772 .Frame3776 .AddItem_11 .SelectionAdderButton_11 .Button_12 .ButtonText_11 {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 361.8px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 53.6px;
	font-weight: 400;
	line-height: 75.03999872207642px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SecondaryButton {
	position: relative;
	flex: none;
	margin-bottom: 107.2px;
	width: 998.3000000000001px;
	height: 261.3px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SecondaryButton .Button_13 {
	visibility: hidden;
	width: 944.7px;
	height: 207.70000000000002px;
	border-radius: 100.5px;
}
.Resturantsadd10_Resturantsadd10 .BlankFrame .Frame3771 .Frame3771_1 .SecondaryButton .Button_13 .ButtonText_12 {
	height: 157.45000000000002px;
	align-self: stretch;
	font-size: 80.4px;
	font-weight: 400;
	line-height: 126.54960327148437px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer {
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu {
	width: 100%;
	height: 67.63471086448598%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87067174047985%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector_31 {
	position: absolute;
	left: 6.97889404296875px;
	top: 6.5315185546875005px;
	width: 79.166259765625%;
	height: 79.833984375%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7603271484375px;
	height: 184.25px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_32 {
	width: 79.166259765625%;
	height: 79.16748046875%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7603271484375px;
	height: 184.25px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch_1 .Vector_33 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.244189453125px;
	width: 81.6943359375%;
	height: 81.6943359375%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0px;
	height: 0px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.7603271484375px;
	height: 187.6px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68199462890625px;
	height: 56.279345703125px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_34 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.16642446084985%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.070654296875px;
	width: 57.68199462890625px;
	height: 56.279345703125px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_35 {
	position: absolute;
	left: 6.00889892578125px;
	top: 5.8625px;
	width: 79.16684390375318%;
	height: 79.16642446084985%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.7603271484375px;
	height: 184.25px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button_14 {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button_14 .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button_14 .tipsplus .Vector_36 {
	width: 79.16618795955883%;
	height: 79.16762408088235%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group1 {
	width: 76.923095703125%;
	height: 76.1123046875%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 49.99984130863249%;
	height: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group1 .SPIN {
	width: 40.000063476547005%;
	height: 30.999884525077302%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 {
	width: 122.82373046874999%;
	height: 123.09619140625001%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66320271285625%;
	height: 82.07385135322748%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12791451163419%;
	height: 68.68794649763389%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.9966924144182%;
	height: 73.89974653016053%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66320271285625%;
	height: 82.07385135322748%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12791451163419%;
	height: 68.68794649763389%;
	border-radius: 50%;
}
.Resturantsadd10_Resturantsadd10 .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99927646565399%;
	height: 73.9021265286532%;
	border-radius: 50%;
}