
.SearchBar_SearchBar {
	width: 384px;
	height: 69px;
}
.SearchBar_SearchBar .Button {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(177,233,233,1.00);
	border-radius: 60px;
}
.SearchBar_SearchBar .Button .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-right: 8px;
}
.SearchBar_SearchBar .Button .interactivebuttonsearch .Vector {
	position: absolute;
	left: 3.757080078125px;
	top: 3.7574462890625px;
	width: 81.69403076171875%;
	height: 81.69415791829428%;
}
.SearchBar_SearchBar .Button .Search {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 300px;
	height: 36px;
	display: flex;
	align-items: center;
	color: rgba(34,36,39,1.00);
	font-family: Baloo;
	font-size: 25px;
	font-weight: 400;
	line-height: 39.349998474121094px;
}