.interactiveButtonsearchIcon {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
}
.button,
.search {
  display: flex;
  align-items: center;
}
.search {
  position: relative;
  width: 300px;
  height: 36px;
  flex-shrink: 0;
}
.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--search-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xs);
}
.searchBar {
  position: absolute;
  top: 72px;
  left: 21px;
  width: 384px;
  height: 69px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
  font-family: var(--large-button-text);
}
