
.SpinHomePage_SpinHomePage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(113,119,132,1.00);
}
.SpinHomePage_SpinHomePage .NavigationBar {
	position: absolute;
	left: 0px;
	top: 2723.55px;
	width: 1440.5px;
	height: 435.5px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer {
	position: absolute;
	left: 0px;
	top: 40.2px;
	width: 100%;
	height: 82.3076923076923%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu {
	width: 100%;
	height: 67.63448269567756%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .Rectangle969 {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(190.18750101327896,187.0177111029625,187.0177111029625,1);
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 {
	width: 99.53488372093024%;
	height: 88.87097155079059%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.7599182128906px;
	height: 184.25px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .interactivebuttonhome .Vector {
	position: absolute;
	left: 6.979098510742188px;
	top: 6.53233642578125px;
	width: 79.16656494140625%;
	height: 79.833984375%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .label {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 107.2px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0.000408935546875px;
	height: 0px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Home .badgewrapper .badge .placeholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile {
	width: 286.7599182128906px;
	height: 184.25px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 {
	width: 67px;
	height: 67px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser {
	width: 67px;
	height: 67px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Group2 .generaluser .Vector_1 {
	width: 79.16656494140625%;
	height: 79.166259765625%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .Profile_1 {
	width: 123.95px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 {
	visibility: hidden;
	width: 0.000408935546875px;
	height: 0px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Profile .badgewrapper_1 .badge_1 .placeholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 286.76002044677733px;
	height: 184.25px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 67px;
	height: 67px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .interactivebuttonsearch .Vector_2 {
	position: absolute;
	left: 5.244189453125px;
	top: 5.24500732421875px;
	width: 81.69418334960938%;
	height: 81.6943359375%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .label_1 {
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 127.3px;
	height: 63.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(134,144,156,1.00);
	font-family: Baloo;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 13.4px;
	width: 0.00030670166015625px;
	height: 0px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .componentbasic .badgewrapper_2 .badge_2 .placeholder_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends {
	width: 286.76002044677733px;
	height: 187.6px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 {
	width: 87.10000000000001px;
	height: 70.35000000000001px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57.68209686279297px;
	height: 56.280163574218754px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_1 .Vector_3 {
	position: absolute;
	left: 6.008592224121094px;
	top: 5.8625px;
	width: 79.16670359099425%;
	height: 79.16672721724093%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 {
	position: absolute;
	left: 29.4171875px;
	top: 14.06983642578125px;
	width: 57.68209686279297px;
	height: 56.280163574218754px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .Group2_1 .generaluser_2 .Vector_4 {
	position: absolute;
	left: 6.008592224121094px;
	top: 5.8625px;
	width: 79.16670359099425%;
	height: 79.16672721724093%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .label_2 {
	width: 137.35px;
	height: 63.65px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 {
	visibility: hidden;
	width: 0.00030670166015625px;
	height: 0px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Friends .badgewrapper_3 .badge_3 .placeholder_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add {
	width: 286.76002044677733px;
	height: 184.25px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button {
	width: 93.8px;
	height: 93.8px;
	border-radius: 335px;
	border: 1px solid rgba(22.000000588595867,93.00000205636024,255,1);
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus {
	width: 56.95px;
	height: 56.95px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .Button .tipsplus .Vector_5 {
	width: 79.16672650505515%;
	height: 79.16618795955883%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 {
	visibility: hidden;
	width: 0.00030670166015625px;
	height: 0px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 {
	position: absolute;
	left: 0px;
	top: -13.4px;
	width: 26.8px;
	height: 26.8px;
	border-radius: 335px;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .badgewrapper_4 .badge_4 .placeholder_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0%;
	height: 0%;
}
.SpinHomePage_SpinHomePage .NavigationBar .Footer .NavMenu .NavMenu_1 .Add .label_3 {
	width: 201px;
	height: 60.300000000000004px;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton {
	position: absolute;
	left: 549.4px;
	top: 60.300000000000004px;
	width: 23.25581395348837%;
	height: 76.92307692307693%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group1 {
	width: 76.923095703125%;
	height: 76.1123046875%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group1 .Ellipse2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group1 .Ellipse1 {
	width: 50%;
	height: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group1 .SPIN {
	width: 39.99998413086325%;
	height: 30.999884525077302%;
	font-size: 40.2px;
	font-weight: 400;
	line-height: 63.274801635742186px;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 {
	width: 122.82369995117189%;
	height: 123.096435546875%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .Purple {
	width: 82.66319840524244%;
	height: 82.07349024103387%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .Purple_1 {
	width: 68.12798113244583%;
	height: 68.68741360126775%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .Yellow {
	width: 73.99678534007738%;
	height: 73.89940162989906%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .LightBlue {
	width: 82.66319840524244%;
	height: 82.07349024103387%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .Orange {
	width: 68.12795628579316%;
	height: 68.68741360126775%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .NavigationBar .SpinButton .Group12 .Red {
	width: 73.99929485199719%;
	height: 73.90197995648579%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .Header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.5px;
	height: 268px;
}
.SpinHomePage_SpinHomePage .Header .generalmenu {
	position: relative;
	flex: none;
	margin-right: 33.5px;
	width: 107.2px;
	height: 107.2px;
}
.SpinHomePage_SpinHomePage .Header .generalmenu .Vector_6 {
	position: absolute;
	left: 11.166700744628907px;
	top: 17.866802978515626px;
	width: 79.16669845581055%;
	height: 66.66679382324219%;
}
.SpinHomePage_SpinHomePage .Spinner {
	position: absolute;
	left: 53.6px;
	top: 613.0500000000001px;
	width: 1336.65px;
	height: 1762.1000000000001px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1088.75px;
	height: 264.65000000000003px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .StatusIconsVariant6 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 83.75px;
	height: 83.75px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .StatusIconsVariant6 .Available {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(35,180,93,1.00);
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .SpinnerTitle {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 834.15px;
	height: 254.6px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .SpinnerTitle .WorkBuds {
	width: 810.7px;
	height: 254.6px;
	font-size: 160.8px;
	font-weight: 400;
	line-height: 253.09920654296874px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .DropdownMenu {
	position: relative;
	flex: none;
	margin-right: 26.8px;
	width: 103.85000000000001px;
	height: 103.85000000000001px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .DropdownMenu .directiondown {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerHeader .DropdownMenu .directiondown .Vector_7 {
	position: absolute;
	left: 15.302777099609376px;
	top: 4.0828125px;
	width: 70.71070517263105%;
	height: 70.71100050403226%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit {
	width: 1299.8px;
	height: 1547.7px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 {
	position: relative;
	flex: none;
	margin-bottom: 53.6px;
	width: 1289.75px;
	height: 1303.15px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 {
	width: 1463.95px;
	height: 1591.25px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground {
	width: 1463.9501022338868px;
	height: 1591.25px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon1 {
	width: 926.4744583129883px;
	height: 951.7819458007813px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon2 {
	width: 743.3043548583985px;
	height: 656.8850280761719px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon3 {
	width: 917.8598220825196px;
	height: 946.4674194335938px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon4 {
	width: 925.8151519775391px;
	height: 951.3860961914063px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon5 {
	width: 741.1524848937988px;
	height: 654.4449096679688px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Polygon6 {
	width: 921.5522033691407px;
	height: 948.7815856933594px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .spinnerdivision {
	width: 87.73421104768376%;
	height: 80.36929481907895%;
	border: 7.432432651519775px solid rgba(36.00000165402889,46.000001057982445,66.00000366568565,1);
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinWheelBackground .Ellipse1_1 {
	width: 1284.3850723266603px;
	height: 1278.8764038085938px;
	border-radius: 50%;
	border: 7.429999828338623px solid rgba(36.00000165402889,46.000001057982445,66.00000366568565,1);
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinCenter {
	width: 22.495952405427634%;
	height: 23.904708059210527%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinCenter .Polygon1_1 {
	width: 34.44442581862048%;
	height: 24.528263346879097%;
	border-radius: 3.35px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinCenter .Ellipse4 {
	width: 100%;
	height: 84.90571717302028%;
	border-radius: 50%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinCenter .Ellipse5 {
	width: 88.88888888888889%;
	height: 71.69816594637597%;
	border-radius: 50%;
	border: 2px solid rgba(201.00000321865082,198.00000339746475,207.00000286102295,1);
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .SpinCenter .SPIN_1 {
	width: 74.99998447848003%;
	height: 29.31034853469221%;
	font-size: 80.4px;
	font-weight: 400;
	line-height: 126.54960327148437px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants {
	width: 76.48624097182494%;
	height: 68.8955078125%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .PFChangs {
	width: 26.66288428542942%;
	height: 23.23118459659617%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .Chipotle {
	width: 12.941176363172877%;
	height: 24.52722296037618%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .Mooyah {
	width: 29.387887882769796%;
	height: 24.83119235529468%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .RollShack {
	width: 29.47736487695635%;
	height: 24.883712775965343%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .TheFlippingEgg {
	width: 12.941167232867349%;
	height: 61.01895584330711%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .Spinner_1 .Spinner_2 .Resturants .RedRobin {
	width: 28.0321744662606%;
	height: 24.035179729504915%;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .EditButton {
	position: relative;
	flex: none;
	margin-bottom: 53.6px;
	width: 304.85px;
	height: 110.55px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .EditButton .Button_1 {
	width: 100%;
	height: 100%;
	border-radius: 201px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .EditButton .Button_1 .generalpen {
	position: relative;
	flex: none;
	margin-right: 40.2px;
	width: 67px;
	height: 67px;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .EditButton .Button_1 .generalpen .Vector_8 {
	width: 79.29672241210938%;
	height: 79.296875%;
}
.SpinHomePage_SpinHomePage .Spinner .SpinnerandEdit .EditButton .Button_1 .Edit {
	width: 134px;
	height: 103.85000000000001px;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 94.91220245361329px;
}