.tipsexclamationCircleIcon,
.warning {
  position: relative;
  width: 34px;
  height: 35px;
  flex-shrink: 0;
}
.warning {
  display: inline-block;
  width: 225px;
  height: 64px;
}
.tipsexclamationCircleParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.theFollowingRestaurants {
  position: relative;
  font-size: var(--large-button-text-size);
  font-family: var(--med-text);
  display: inline-block;
  width: 391px;
  height: 64px;
  flex-shrink: 0;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--destructive-button);
  font-family: var(--large-button-text);
}
