@import url("https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --large-button-text: Baloo;
  --med-text: Inter;

  /* font sizes */
  --button-text-size: 18px;
  --large-button-text-size: 24px;
  --font-size-29xl: 48px;
  --small-text-size: 12px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;

  /* Colors */
  --color-slategray: #717784;
  --edit-yellow: #ffda7e;
  --color-black: #000;
  --color-darkslategray-100: #2c3549;
  --dark-text: #242e42;
  --color-white: #fff;
  --app-header: #43cbcb;
  --main-button: #3bc9c9;
  --text-3: #86909c;
  --danger-6: #f53f3f;
  --primary-6: #165dff;
  --color-silver: #bebbbb;
  --color-gray-100: #222427;
  --color-gray-200: rgba(3, 3, 3, 0.6);
  --color-indianred-100: #eb5757;
  --destructive-button: #d45050;
  --search-bar: #b1e9e9;
  --color-paleturquoise-100: #89dfdf;
  --link-blue: #36a9ae;
  --color-mediumseagreen-100: #42a652;
  --secondary-button: #23b45d;
  --disabled-1: #9ca1aa;

  /* Gaps */
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-8xs-6: 4.6px;
  --padding-5xl: 24px;
  --padding-31xl: 50px;
  --padding-9xs: 4px;
  --padding-sm-5: 13.5px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-5xs-5: 7.5px;

  /* border radiuses */
  --br-41xl: 60px;
  --br-12xs: 1px;
  --br-81xl: 100px;
  --br-11xl: 30px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-32xl: 51px;
  --br-43xl: 62px;
}
